
/* body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* p{
    
} */


.quote-box {
  float: right;
}

.quote-box p{
  font-size: 18;
  font-weight:  500;
  color: #fff;
  font-family: cursive
}

.author {
  font-size: 22;
  font-weight: 800;
}
 
.quote-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

.quote-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-out {
  from {opacity: 100}
  to {opacity: 0}
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 100}
}