
/* body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

p{
    color: #fff;
}
div {
  color: #fff;
}
#quotation {
  font-family: 'Jim Nightshade', script;
  font-size: 13vmin;
  line-height: 1.2;
  hanging-punctuation: first;
}
#source {
  font-family: 'Assistant', sans-serif;
  font-size: 4vmin;
  text-indent: 4vmin;
  color: #fff;
}
button { 
  font-family: 'Assistant', sans-serif;
  display: block;
  padding: .5rem;
  outline: none;
  font-size: .8rem;
  background: none;
  border: 1px solid #fff;
}