@font-face {
  font-family: 'JoeMax';
  src:
  local('JoeMax'),
    url('./Components/assets/fonts/JoeMax.otf') format('opentype')
}
  
  
  body {
    margin: 0;
    padding: 0;
    max-width: 100%!important
  }
  
  .App {
    height: 100vh;
    display: flex;
    color: white;
  }
  
  .App__Aside {
    width: 50%;
    background-color: #F2C041;
  }
  
  .App__Form {
    width: 50%;
    background-color: #36393F;
    padding: 25px 40px;
    overflow: auto;
  }
  
  .PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
  }
  
  .PageSwitcher__Item {
    background-color: #36393F;
    color: #9DA6B1;
    padding: 10px 25px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
  }
  
  .PageSwitcher__Item--Active {
    background-color: #F2C041;
    color: white;
  }
  
  .PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .PageSwitcher__Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .FormCenter {
    margin-bottom: 100px;
  }
  
  .FormTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .FormTitle__Link {
    color: #707C8B;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
  }
  
  .FormTitle__Link:first-child {
    margin-left: 0;
  }
  
  .FormTitle__Link--Active {
    color: white;
    border-bottom: 1px solid #40677f;
  }
  
  .FormField {
    margin-bottom: 40px;
  }
  
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
  }
  .FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #7Ba696;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .FormField__Input::placeholder {
    color: #616E7F;
  }
  
  .FormField__Button {
    background-color: #F2C041;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
  }
  
  .FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #40677f;
    padding-bottom: 5px;
  }
  
  .FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
  }
  
  .FormField__Checkbox {
    position: relative;
    top: 1.5px;
  }
  
  .FormField__TermsLink {
    color: white;
    border-bottom: 1px solid #40677f;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }
  .mobile-sidebar {
    justify-content: space-between;
    width: 100%;
    background: linear-gradient( to 
    bottom, rgba(63, 123, 127,0.9) 45%, 
    rgba(63, 123, 127,0.9) 60%, 
    rgba(63, 123, 127,1) 90%);
    border-radius: 25px 0 0 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #36393F;
    padding-top: 47px;
    padding-right: .05vw
  }
  
  .sidebar {
    justify-content: space-between;
    width: 10vw;
    background: linear-gradient( to 
    bottom, rgba(63, 123, 127,0.9) 45%, 
    rgba(63, 123, 127,0.9) 60%, 
    rgba(63, 123, 127,1) 90%);
    border-radius: 25px 0 0 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 2px solid #36393F;
    padding-top: 47px;
    padding-right: .05vw
  }

  .SideLinks {
    font-family: 'Play', sans-serif;    
    color: #5e271e;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    height: 3vh;
    margin-top: 1vh
  }

  .SideLinks:hover {
    background-color: gray
  }

  .SideLinks:visited {
    text-decoration: none
  }

  .JoeMax {
    font-family: 'JoeMax' !important;
  }

  .Header {
    color: #F2C041;
    height: 7vh;
    width: 100%;
    border-bottom: solid whitesmoke 1px !important;
    background-color: transparent;
    /* background-color: #36393F; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #26262b 
  }

  .colorWhite {
    color: whitesmoke
  }

  /* #mainBack {
    padding: 50px;
    background-color: black;
    background-image: linear-gradient(315deg, white 0%, gray 115%);
  } */

  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  #loadingCircle {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }


  @media (max-width: 769px) {
    .App__Aside {
      display: none;
    }
    .PageSwitcher {
      display: none;
    }
    .App__Form {
      width: 100%;
      padding: 100px 40px;
    }
    .FormField__Button {
      margin-bottom: 10px;
    }
    .FormField__Link {
      display: none;
    }
    .sidebar {
      display: none;
    }
    .JoeMax {
      display: none;
    }
}