@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');


@import url('https://fonts.googleapis.com/css?family=Acme|Exo+2|Geo|Jura|Play|Rajdhani|Teko:300|Titillium+Web&display=swap');




* {
  box-sizing: border-box;
  font-family: 'Play', sans-serif;    
}


body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.mr-20 {
  margin-right: 20px !important;
}
