.main__back {
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100vw;
  /* padding: 12px 0px 0px 75px; */
  overflow: hidden;
  display: flex;
  color: white;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.__appointment-Pill {
  width: 5vw;
  height: 7vh;
  position: absolute;
  background: #36393F;
  color: #36393F;
  right: 0;
  top: 20vh;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: 0;
  transition: 1s;
}

.__appointment-Pill-open {
  width: 10vw;
  height: 7vh;
  position: absolute;
  background: #36393F;
  color: white;
  right: 0;
  top: 20vh;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: 0;
  transition: 1s;
}

.__appointment-Pill:focus {
  outline: none;
}

.__appointment-Pill-open:focus {
  outline: none;
}


/* #mainBack {
    padding: 20px 0px 0px 75px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1;
} */

.main__back:before {
  font-family: "Play", sans-serif;
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(54, 57, 63, 0.3) 30%,
    rgba(54, 57, 63, 0.9) 60%,
    rgba(54, 57, 63, 1) 100%
  );
}

.main-container {
  /* background-color: transparent;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr); */
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: transparent;
}

.overview__divs {
  border: 2px solid #26262b;
  border-left: none;
  height: 93vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #36393f;
  background: rgba(204, 204, 204, 0.05);
}

@media (max-width: 769px) {
  .main__back {
    padding: 0;
  }
}
