.main__back {
  background: white;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100vw;
  /* padding: 12px 0px 0px 75px; */
  overflow: hidden;
  display: flex;
  color: white;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.__main-back-mobile {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  color: white;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.__appointment-Pill {
  width: 5vw;
  height: 7vh;
  position: absolute;
  background: #36393F;
  font-size: 0;
  right: 0;
  top: 20vh;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: 0;
  transition: 1s;
}

.__appointment-Pill-open {
  width: 10vw;
  height: 7vh;
  position: absolute;
  background: #36393F;
  color: white;
  right: 0;
  top: 20vh;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-right: 0;
  transition: 1s;
}

.__appointment-Pill:focus {
  outline: none;
}

.__appointment-Pill-open:focus {
  outline: none;
}


/* #mainBack {
    padding: 20px 0px 0px 75px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1;
} */

.main__back:before {
  font-family: "Play", sans-serif;
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(54, 57, 63, 0.3) 30%,
    rgba(54, 57, 63, 0.9) 60%,
    rgba(54, 57, 63, 1) 100%
  );
}

.main-container {
  /* background-color: transparent;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr); */
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: transparent;
}

.overview__divs {
  border: 2px solid #26262b;
  border-left: none;
  height: 93vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #36393f;
  background: white;
}

.__main-nav-button {
  position: absolute;
  bottom: 0;
  left: 40vw;
  border-top-left-radius: 10vw;
  border-top-right-radius: 10vw;
  height: 10vw;
  width: 20vw;
  background: #36393F;
  border: none;
  z-index: 12;
}

.__main-nav-button:focus {
  outline: none;
}

.__main-nav-button:active {
  border: 2px solid black
}

.__main-mobile-nav-holder {
  height: 90vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 1s;
  z-index: 11;
}

.__main-mobile-nav-closed {
  height: 0;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 1s;
}

.__main-mobile-head {
  height: 10vh;
  width: 100%
}

.__main-mobile-body {
  height: 90vh;
  width: 100vw;
  background: gray
}

.__main-mobile-foot {
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100vw;
}


@media (max-width: 769px) {
  .main__back {
    padding: 0;
  }
}

.__main-bottom-button {
  position: fixed;
  left: 45vw;
  bottom: 0;
  width: 7vw;
  height: 7vh;
  background: orange;
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
  outline: none;
  border: none;
}

.__main-bottom-button:active {
  border: 2px solid black
}

.__main-bottom-nav {
  width: 20vw;
  height: 20vh;
  position: fixed;
  left: 38vw;
  border-top-left-radius: 20vw;
  border-top-right-radius: 20vw;
  bottom: 0;
}


.__main-bottom-nav-button-1 {
  width: 4vw;
  height: 8vh;
  border-radius: 5vw;
  position: fixed;
  left: 40vw;
  background: orange;
  bottom: .5vw;
  text-align: center;
  padding-top: 1%;
}

.__main-bottom-nav-button-2 {
  width: 4vw;
  height: 8vh;
  border-radius: 5vw;
  position: fixed;
  left: 43vw;
  background: orange;
  bottom: 4.5vw;
  text-align: center;
  padding-top: 1%;
}

.__main-bottom-nav-button-3 {
  width: 3vw;
  height: 6vh;
  border-radius: 5vw;
  position: fixed;
  left: 46.5vw;
  background: orange;
  bottom: 5vw;
  text-align: center;
  padding-top: 1%;
}

.__main-bottom-nav-button-4 {
  width: 4vw;
  height: 8vh;
  border-radius: 5vw;
  position: fixed;
  left: 49vw;
  background: orange;
  bottom: 4.5vw;
  text-align: center;
  padding-top: 1%;
}

.__main-bottom-nav-button-5 {
  width: 4vw;
  height: 8vh;
  border-radius: 5vw;
  position: fixed;
  left: 52.5vw;
  background: orange;
  bottom: 0.5vw;
  text-align: center;
  padding-top: 1%;
}

.__main-Side-Button {
  width: 3vw;
  height: 7.5vh;
  /* border-top-right-radius: 4vw; */
  /* border-bottom-right-radius: 4vw; */
  background: none;
  border: none;
  outline: none;
  position: fixed;
  left: 20vw;
  top: 0vh;
  transition: .5s ease;
  z-index: 999;
}

.__main-Side-Button-Closed {
  width: 3vw;
  height: 7.5vh;
  /* border-top-right-radius: 4vw; */
  /* border-bottom-right-radius: 4vw; */
  background: none;
  border: none;
  outline: none;
  position: fixed;
  left: 0;
  top: 0vh;
  transition: .5s ease;
  z-index: 999;
}