.__appointments-main2 {
    border-left: none;
    border-radius: 25px;
    width: 45vw;
    height: 78vh;
    margin-top: 5vw;
    margin-left: 22vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #36393f;
}

.__appointments-main-mobile {
    border-left: none;
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    color: white;
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #36393f;
}