.__team-container{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    }

.__add-Doctor-Main {
    width: 100vw;
    height: 80vw;
    display: flex;
    flex-direction: row;
}

.__add-Doctor-Left {
    width: 40vw;
    Height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__add-Doctor-Left button:focus {
    outline: none
}

.__add-Doctor-Left button:active {
    border: 3px solid darkslategray!important;
}

.__add-Doctor-Right {
    width: 40vw;
    height: 100%;
    display: flex;
}

.__add-Doctor-Right button:focus {
    outline: none;
}

.__add-Doctor-Right button:active {
    border: 3px solid darkslategray!important;
}

.__add-Doctor-Img {
    width: 20vw;
    height: 40vh;
    z-index: 2;
    border-radius: 30px;
    margin-left: 9vw;
}

.__add-Doctor-Right {
    display: flex;
    height: 100%;
}

.__add-Doctor-Bio-Right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%
}

.__add-Doctor-Bio-Left {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%
}

.__add-Doctor-Fluff {
    width: 20vw;
    height: 20vw;
    background: gray;
    position: absolute;
    border-radius: 30px;
    z-index: 1;
    right: 50vw;
    top: 40vh;
}