#__side-Nav {
    height: 100vh;
    width: 20vw;
    background: #31353D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#__main-head {
    display: flex;
    flex-direction: column;
}

#__head-logo {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}

#__head-bio {
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 1px solid gray;

}

#__head-bio-pic img {
    width: 5vw;
    border-radius: 15px;
}

#__head-bio-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 9vw;
}

#__head-bio-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 12vw
}

#__head-bio-info p{
    margin: 0;
    margin-top: 10px;
    word-wrap: break-word;
    max-width: 13vw;
}

#__head-online {
    display: flex
}

#__head-search {
    padding-left: 1vw;
    padding-top: 2vh;
}

#__head-search input {
    width: 90%;
    background: #3a3f48;
    border: 0;
    height: 2vh
}

#__head-search input:focus {
    outline: none;
}

#__head-search input::placeholder {
    color: #818896
}

.__body-main {
    width: 100%;
    height:80vh;
    display: flex;
    flex-direction: column;
}

.__SideLinks {
    font-family: 'Play', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    justify-self: start;
    width: 20vw;
    vertical-align: center;
    height: 3vh;
    padding: 0;
    margin-left: 2vw;
}

.__SideLinks:hover {
  color: orange
}

.__SideLinks:visited {
  text-decoration: none
}

.__SideLinks-Static-Box {
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 4vw;
    padding-left: 1vw
}

.__SideLinks-Static {
  font-family: 'Play', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  justify-self: start;
  vertical-align: center;
  max-height: 2vh;
  width: 10vw
}

.__SideLinks-Static-Box:hover .__SideLinks-Static {
  color: orange
}

.__SideLinks-Static:visited {
  text-decoration: none
}

.__main-footer {
    height: 9vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-top: 1px solid gray;
    padding-top: 2vh;
}

#settingsLink:visited {
    text-decoration: none;
    color: white
}


#SetIcon:hover {
    -webkit-animation: mymove .5s 1; /* Chrome, Safari, Opera */
    animation: mymove .5s 1;
    color: orange
}

#settingsLink {
    text-decoration: none;
    color: white
}

#subLink {
    text-decoration: none;
    color: white;
    margin-top: 1vh;
}

.settingsPopup {
    position: absolute;
    top: 88vh;
    right: 76.5vw;
    background: white;
    color: black;
    border: 1px solid gray;
    border-radius: 15px;
    height: 5vh;
    width: 7vw;
    text-align: center;
    opacity: 1;
    transition: opacity 1s;
}

.settingsPopupHidden {
    position: absolute;
    top: 88vh;
    right: 76.5vw;
    background: white;
    color: black;
    border: 1px solid gray;
    border-radius: 15px;
    height: 5vh;
    width: 7vw;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}

.settingsPopupHidden p{
    font-size: 12px
}
.settingsPopup p {
    font-size: 12px;
}


.FacebookPopup {
    position: absolute;
    top: 88vh;
    right: 91.5vw;
    background: white;
    color: black;
    border: 1px solid gray;
    border-radius: 15px;
    height: 5vh;
    width: 7vw;
    text-align: center;
    opacity: 1;
    transition: opacity 1s;
}

.FacebookPopupHidden {
    position: absolute;
    top: 88vh;
    right: 91.5vw;
    background: white;
    color: black;
    border: 1px solid gray;
    border-radius: 15px;
    height: 5vh;
    width: 7vw;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}

.FacebookPopupHidden p{
    font-size: 12px
}
.FacebookPopup p {
    font-size: 12px;
}

.InstagramPopup {
    position: absolute;
    top: 88vh;
    right: 86.5vw;
    background: white;
    color: black;
    border: 1px solid gray;
    border-radius: 15px;
    height: 5vh;
    width: 7vw;
    text-align: center;
    opacity: 1;
    transition: opacity 1s;
}

.InstagramPopupHidden {
    position: absolute;
    top: 88vh;
    right: 86.5vw;
    background: white;
    color: black;
    border: 1px solid gray;
    border-radius: 15px;
    height: 5vh;
    width: 7vw;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}

.InstagramPopupHidden p{
    font-size: 12px
}
.InstagramPopup p {
    font-size: 12px;
}

.LinkedInPopup {
    position: absolute;
    top: 88vh;
    right: 81.5vw;
    background: white;
    color: black;
    border: 1px solid gray;
    border-radius: 15px;
    height: 5vh;
    width: 7vw;
    text-align: center;
    opacity: 1;
    transition: opacity 1s;
}

.LinkedInPopupHidden {
    position: absolute;
    top: 88vh;
    right: 81.5vw;
    background: white;
    color: black;
    border: 1px solid gray;
    border-radius: 15px;
    height: 5vh;
    width: 7vw;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}

.LinkedInPopupHidden p{
    font-size: 12px
}

.LinkedInPopup p {
    font-size: 12px;
}

@keyframes mymove {
from    {transform: rotatey(0deg);}
to      {transform: rotatey(360deg);}
}