.__team-View {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.__team-View-Left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.__left-Top {
    height: 50%;
    width: 100%
}

.__left-Top img{
    max-height: 75%;
    margin-left: 35%;
    margin-top: 10%
}

.__left-Bottom {
    height: 50%;
    width: 100%
}

.__left-Bottom img{
    height: 75%;
    margin-left: 35%;
}

.__team-View-Right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.__right-Top{
    width: 100%;
    height: 10%
}

.__right-Bottom {
    padding: 5%;
    display: flex;
    flex-direction: column;
    width: 75%;
    word-wrap: break-word;
    height: 75%;
    background: gray;
    border-radius: 20px;
}

.__button-Right {
    width: 10%;
    height: 100%
}
.__button-Right button{
    width: 10%;
    height: 100%
}

.__button-Left {
    width: 10%;
    height: 100%
}

.__button-Left button:focus{
    outline: none;
}

.__button-Left button:active{
    outline: none;
    border: 2px solid gray!important
}

.__button-Right button:focus{
    outline: none;
}

.__button-Right button:active{
    outline: none;
    border: 2px solid gray!important
}

.__teamview-Picker {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.__teamview-Picker .Left {
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
    /* margin-left: 5%; */
    width: 50%;
    height: 100%;
    /* border-right: 1px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.__teamview-Picker .Left button {
    width: 50%;
    height: 75%;
    background: none;
    border: none;
    font-size: 50px;
}

.__teamview-Picker .Left button:hover {
    cursor: pointer;
    color: gray
}

.__teamview-Picker .Right button {
    width: 50%;
    height: 75%;
    background: none;
    border: none;
    font-size: 50px;
}

.__teamview-Picker .Right button:hover {
    cursor: pointer;
    color: gray
}

.__teamview-Picker .Right {
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
    /* margin-left: 5%; */
    width: 50%;
    height: 100%;
    /* border-right: 1px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.__team-view-picker-main-mobile {
    height: 100%;
    width: 100%;
    display: flex;
}

.__team-view-picker-left-mobile {
    width: 50%;
    height: 100%;
    border-right: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__team-view-picker-left-mobile button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}

.__team-view-picker-right-mobile {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__team-view-picker-right-mobile button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}


.__team-view-mobile {
    margin: 0;
    width: 100%;
    height: 100%;
    background: orange;
    animation: revealb 1s forwards;
}

.__sub-team-mobile {
    margin: 0;
    width: 100%;
    height: 100%;
    background: orange;
    animation: reveal 1s forwards;
  }

  @keyframes revealb {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  @keyframes reveal {
    from {
      clip-path: inset(0 0 0 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }

  .__sub-team-mobile-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  .__sub-team-picture {
    width: 65vw;
    margin-top: 25vh;
    margin-bottom: 5vh;
  }

  .__sub-team-mobile-mid::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}