.appointment-cont {
  height: 100vh;
  /* padding-left: 5vw; 
    padding-top: 2vh; */
  /* overflow: hidden; */
  width: 85vw;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "no no idk idk idk"
    "no no idk idk idk"
    "no no idk idk idk"
    "no no idk idk idk"
    "no no idk idk idk";
}

.info-bar {
  grid-area: ib;
  background-color: gray;
  width: 45vw;
  height: 5vh;
  margin-bottom: 5vh;
  border-radius: 15px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.__appointments-main {
  grid-area: appt;
  justify-content:center; 
  width: 45vw; 
  background-color: gray;
}



.no-idea {
  grid-area: no;
  /* display: flex; */
  justify-content: space-around;
  padding: 5px;
  margin-left: 5vw;
  /* flex-direction: column; */
}

.wtf {
    grid-area: idk;
  width: 50%;
  overflow-y:none;
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 1vh;
}
.react-calendar {
  margin-top: 10px;
}

.appt-card {
  background-color: gray;
  height: 35vh;
  width: 23vw;
  border-radius: 15px;
}

.idk-wtf-this-is {
  background-color: gray;
  height: 35vh;
  width: 23vw;
  border-radius: 15px;
}

@media (max-width: 769px) {
    .appointment-cont {
        height: 100vh;
        /* padding-left: 5vw; 
          padding-top: 2vh; */
        /* overflow: hidden; */
        width: 100vw;
        overflow-x: hidden;
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
          "no"
          "idk";
      }

      .no-idea {
          /* padding: 50px; */
      }
      .selector-appt {
        margin-left: 5vw;
        width: 90vw;
      }
      .info-bar {
          width: 100vw;
      }
      .react-calendar {
          max-width: 87vw; 
      }

      .appt-card {
          width: 87vw; 
      }
      .idk-wtf-this-is{
        width: 87vw;
      }
      
}

