.__Header-Main {
    color: White;
    height: 7vh;
    width: 100%;
    background-color: #36393F;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.__Header-Main-Mobile {
    color: White;
    height: 10vh;
    width: 100%;
    background-color: #36393F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.__Header-Items{
    display: flex;
    flex-direction: row;
}

.__Header-Items-Mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.__Header-Logout-Mobile {
    color: white;
    text-decoration: none;
    align-self: center;
    /* height: 5vw; */
    width: 25vw;
    height: 10vh;
    padding-top: 3vh;
    padding-left: 4vw;
    border-left: 2px solid black;
}

.__Header-Add-Button{
    background: none;
    outline: none;
    border: none;
    color: white;
    height: 3vh;
    margin-right: 1.5vw!important;
    cursor: cell
}

.__Header-Add-Button-Mobile {
    background: none;
    outline: none;
    border: none;
    color: white;
    height: 3vh;
    margin-right: 1.5vw!important;
    cursor: cell;
    font-size: 4vw;
}

.__Header-Add-Button:hover {
    color: orange
}

.__Header-Wallet {
    margin-right: 2vw!important;
    margin-bottom: 0!important;
    margin-top: 1vh!important;
    color: white;
    text-decoration: none;

}

.__Header-Wallet-Mobile {
    color: white;
    margin: 0!important;
    text-decoration: none;
    font-size: 6vw;
}

.__Header-Dropdown {
    z-index: 10;
    background: #36393F;
    border: 1px solid gray;
    width: 10vw;
    height: 40vh; 
    position: absolute; 
    top: 7vh;
    border-radius: 10px;
}

.__Header-Dropdown-Mobile {
    z-index: 10;
    background: #36393F;
    width: 100vw;
    height: 72vh;
    position: absolute;
    top: 10vh;
    right: 0;
}

.__Header-Dropdown-Mobile button {
    width: 100%;
    height: 10vh;
    background: none;
    border: none;
    color: white;
    margin-top: 1vh;
    border-top: 1px solid white;
    font-size: 5vw
}

.__Header-Dropdown-Mobile button:hover {
    background: gray;
}

.__Header-Dropdown button {
    width: 100%;
    height: 5vh;
    background: none;
    border: none;
    color: white;
    margin-top: 1vh
}

.__Header-Dropdown button:hover {
    background: gray;
}

.__Header-Dropdown-Mobile p {
    text-align: center;
    margin-top: 0;
    padding-top: 1vh;
    border-top: 1px solid white;
    font-size: 4vw
}

.checkout {
    min-width: auto;
    min-height: auto;
    background-color: #36393f;
    position: absolute;
    top: 35%;
    right: 40%;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 20px 20px 50px grey;
    z-index: 10;
    color: white!important
  }

  .CardField {
      color: white !important
  }
  
  .checkout button {
    background-color: #f2c041;
      border: none;
      position: relative;
      width: auto;
      font-size: 3vh;
      margin-top: 20px;
      border-radius: 5px;
  }
  .modal_background {
    background-color: gray;
      opacity: 0.8;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
  }

  .Input-Element {
      color: white
  }